name = "ridetracker-avatar-service"
main = "src/index.ts"
compatibility_date = "2023-04-07"
usage_model = "bundled"
compatibility_flags = [ "nodejs_compat" ]

[triggers]
crons = [ ]

[[migrations]]
tag = "v1"
new_classes = ["DurableBrowser"]

[env.production]
browser = { binding = "BROWSER", type = "browser" }

d1_databases = [
    { binding = "DATABASE", database_name = "ridetracker-avatars", database_id = "d923c3af-ace3-4f50-b7e6-df4682ce0760" },
    { binding = "SERVICE_DATABASE", database_name = "ridetracker", database_id = "4cb96598-71ce-47f5-b556-9ef1bfca42a1" }
]

durable_objects.bindings = [
    { name = "DURABLE_BROWSER", class_name = "DurableBrowser" }
]

[[ kv_namespaces ]]
binding = "FEATURE_FLAGS"
id = "e4051aac3f97408eb005e85eb81bdc97"

[env.production.vars]
ENVIRONMENT = "production"
CLOUDFLARE_ACCOUNT_ID = "iF-n-0zUOubWqw15Yx-oAg"

[[ env.production.kv_namespaces ]]
binding = "FEATURE_FLAGS"
id = "e9e05d97db9c4e0f8fa1e3784dc4d0ad"

[env.staging]
browser = { binding = "BROWSER", type = "browser" }

d1_databases = [
    { binding = "DATABASE", database_name = "ridetracker-avatars-staging", database_id = "e3ecd1c7-5ccc-4585-a4b2-936ab708e7be" },
    { binding = "SERVICE_DATABASE", database_name = "ridetracker-staging", database_id = "361813f2-1a83-4c3d-9df1-204fc7093b6f" }
]

durable_objects.bindings = [
    { name = "DURABLE_BROWSER", class_name = "DurableBrowser" }
]

[env.staging.vars]
ENVIRONMENT = "staging"
CLOUDFLARE_ACCOUNT_ID = "iF-n-0zUOubWqw15Yx-oAg"

[[ env.staging.kv_namespaces ]]
binding = "FEATURE_FLAGS"
id = "225cf6788c7447079e5f8dc7b9f1be18"
