name = "ridetracker-avatar-service"
main = "src/index.js"
compatibility_date = "2023-04-07"
usage_model = "bundled"
node_compat = true

[triggers]
crons = [ ]

[env.production]
d1_databases = [
    { binding = "DATABASE", database_name = "ridetracker-avatars", database_id = "d923c3af-ace3-4f50-b7e6-df4682ce0760" },
    { binding = "SERVICE_DATABASE", database_name = "ridetracker", database_id = "4cb96598-71ce-47f5-b556-9ef1bfca42a1" }
]

[env.production.vars]
ENVIRONMENT = "production"

[env.staging]
d1_databases = [
    { binding = "DATABASE", database_name = "ridetracker-avatars-staging", database_id = "e3ecd1c7-5ccc-4585-a4b2-936ab708e7be" },
    { binding = "SERVICE_DATABASE", database_name = "ridetracker-staging", database_id = "361813f2-1a83-4c3d-9df1-204fc7093b6f" }
]

[env.staging.vars]
ENVIRONMENT = "staging"
